DISCORD-TOKEN=
DATABASE_URL="postgres://user:password@localhost:5432/database"

BAN_JOB_CRON_TIME="*/30 * * * *"
BAN_JOB_WAITING_TIME="60000"


GEMINI_URL="https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"
GEMINI_URL_API_KEY=""

DM_MESSAGE_FEATURE_CATEGORY_ID="000000000000"
DM_MESSAGE_FEATURE_ADMIN_ROLE_NAME="Admin"
DM_MESSAGE_FEATURE_MOD_ROLE_NAME="Mod"